body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

.header {
    background-color: white;
    margin: 30px 60px 69px 30px;
}

.header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header .signup {
    width: 30vw;
    display: flex;
    flex-direction: row;
    font-style: oblique;
    justify-content: space-evenly;
}

.header h1 {
    float: left;
    color: #2B5914;
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.signup button:hover {
    color: #4d9227;
}

.container_1 {
    height: 325px;
    width: 100%;
    background-color: #4C6F3B;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container_1 h4 {
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-left: 800px;
    padding-top: 250px;
}





