body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

.header {
    background-color: white;
    margin: 30px 50px 0 50px;
}

.header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header .signup {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header h1 {
    float: left;
    color: #2B5914;
    font-size: 50px;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.signup button:hover {
    color: #2B5914;
}

.container_1 {
    height: 325px;
    width: 90vw;
    background-color: #4C6F3B;
    /*background-image: url("images/bg.jpg");*/
    /*background-repeat: no-repeat;*/
}

.container_1 h1 {
    font-size: 70px;
    color: white;
    font-weight: bold;
}





